body {
  background-color: rgb(200, 200, 200);
  color: rgb(30, 30, 30);
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: rgb(20, 20, 20);
}

p {
  margin: 0px 15px;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: rgb(150, 150, 150);
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  color: rgb(50, 50, 50);
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding-bottom: 2px;
  padding-top: 5px;
  color: rgb(150, 150, 150);
}

a {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: rgb(50, 50, 50);
  font-weight: bold;
}

a:hover {
  color: rgb(120, 120, 120);
}

/*div*/
div {
  width: 600px;
}

/*css classes*/

.text-justify {
  text-align: justify;
  padding: 10px;
  margin-top: -25px;
}
.img-circle {
  border-radius: 50%;
}

.image-square150 {
  width: 150px;
  height: 150px;
}

.image-300 {
  height: auto;
  width: 250px;
  max-height: 170px;
}

.card-white {
  background: white;
  margin: 20px auto;
  padding: 5px;
  border: 20px;
  border-color: black;
  border-radius:10px;
  box-shadow: 1px 1px 3px rgb(230, 230, 230);
}
.line-no-decoration{
  list-style: none;
  padding-left: 0px;
  font-size: 50px;
}
.list-inline{
  list-style: none;
  padding-left: 0px;

}
.list-inline li{
  display: inline-block;
  padding: 10px;
}

.text-center{
  text-align: center;
}

.btn-red{
  width: 200px;
  height: 70px;
  background-color: rgb(100, 100, 100);
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
}

.btn-red:hover{
  background-color: rgb(150, 150, 150);
}

#p-text{
  margin: 0px 15px;
}

#sidebar{
  background-color: grey;
  position: fixed;
  width: 100px;
  left: 0;
  top: 0;
  bottom: 0;
}

#page-content{
  margin-left: 100px;
  margin: auto;
}
